<style>
    body {
        background-color: pink;
    }
    .jumbotron {
        text-align: center;
    }
    a {
        font-size: 30px;
    }
    a:hover {
        text-decoration: none;
    }
    .nav-item {
        display: inline-block!important;
        color: white!important;
    }
    .nav-item:hover {
        color: bisque!important;
    }
    #navbarButtonDelete {
        font-size: 15px!important;
    }
</style>
<nav class="navbar navbar-dark bg-primary">
  <a class="nav-item nav-link active" id="navbarButton" href="/">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" id="navbarButtonDelete" href="/items/delete/{{_id}}">Clear Articles</a>
      <a class="nav-item nav-link" id="navbarButton" href="/saved">Saved Articles</a>
</nav>

<div class="jumbotron">

    <h1>Index Scraping</h1>
    <h4>Articles from the Hungarian website "www.index.hu"</h4>

</div>
{{#each articles}}
<a href={{this.link}}>{{this.title}}</a>
<!-- <h5>Link: {{this.link}}</h5>
<p>id: {{this.id}}</p> -->
<p>{{this.p.span}}</p>
<button type="button" class="btn btn-primary saveArticle" data-id="{{this._id}}">Save article</button>
<hr>
{{/each}}
