<style>
    body {
        background-color: pink;
    }
    .background {
        text-align: left;
        /*background-image: url("layouts/images/breaking-news.jpg");
        background-size: cover; */
    }
    a {
        font-size: 30px;
    }
    a:hover {
        text-decoration: none;
    }
    .nav-item {
        display: inline-block!important;
        color: white!important;
    }
    .nav-item:hover {
        color: bisque!important;
    }
    #navbarButtonDelete {
        font-size: 15px!important;
    }
    #navbarButton, #navbarButtonDelete, #scrapeNewButton {
      color: black!important;
      font-size: 20px!important;
    }
    #navbarButton:hover, #navbarButtonDelete:hover, #scrapeNewButton:hover {
      color: blue!important;
    }
    
</style>

<div class="jumbotron">

    <h1>Index Scraping</h1>
    <h4>Articles from the Hungarian website "www.index.hu"</h4>
    <a class="nav-item nav-link active" id="navbarButton" href="/">Home <span class="sr-only">(current)</span></a>
    <a class="nav-item nav-link" id="navbarButtonDelete" href="/items/delete/{{_id}}">Clear Articles</a>
    <a class="nav-item nav-link" id="scrapeNewButton" href="#">Scrape new articles</a>
    <a class="nav-item nav-link" id="navbarButton" href="/saved">Saved Articles</a>
</div>
{{#each articles}}
<a href={{this.link}}>{{this.title}}</a>
<!-- <h5>Link: {{this.link}}</h5> -->
<p>id: {{this._id}}</p>
<p>{{this.p.span}}</p>
<button type="button" class="btn btn-primary addNote" data-id="{{this._id}}">Add notes</button>
<hr>
{{/each}}

<div class="modal" id="myModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add note</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="textarea" class="inputNoteArea">
      </div>
      <div id="allTheNotes"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary closeButton" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary saveChanges">Save changes</button>
      </div>
    </div>
  </div>
</div>

